<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>show office details</title>
</head>
<body>
  <h3>office name : <%=details.name%></h3>
  <p>address : <%=details.address%></p>
</body>
</html>