<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login Page</h1>
  <form action="/users/login" method="post">
    <label for="">Enter email</label>
    <input name="email" type="email">
    <label for="">Enter Password</label>
    <input name="password" type="password">
    <button type="submit">Login</button>
  </form>
</body>
</html>