<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
    <link rel="stylesheet" href="/form.css">
  </head>
  <body>
    <div class="form-container">
      <form action="/chats" method="post">
        <h3>Create New Chat</h3>
        <input name="from" type="text" placeholder="your name" />
        <input name="to" type="text" placeholder="receiver name" />
        <input name="message" type="text" placeholder="message" />
        <button>Create</button>
      </form>
    </div>
  </body>
</html>
